@import url('~bootstrap/dist/css/bootstrap.min.css');
@import url('../node_modules/@yaireo/tagify/dist/tagify.css');

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  background-color: #192436;
  font-family: "Segoe UI", 'Roboto', sans-serifs;
  color: #000000;
}

/* utility classes */
.app-page {
  margin-top: 82px;
  height: calc(100vh - 97px);
  overflow-y: auto;
  overflow-x: hidden;
  background: #F2F2F2;
  border-radius: 45px;
}

.customTagStyle{
  /* --tag-bg                  : #fff; */
  --tag-hover               : #fffeff;
  --tag-text-color          : #000;
  --tags-border-color       : silver;
  --tag-text-color--edit    : #111;
  --tags-focus-border-color : rgba(0,0,0,.03);
  --tag-remove-btn-bg--hover: #000;
  --tag-remove-bg           : #fff;
  --tag-min-width           : inherit;
  --tag-max-width           : inherit;
  background                : #fff;
  border                    : initial;
  padding                   : 6px;
  overflow-wrap             : anywhere;
}
.customTagStyle span{
  color: #000;
}

.loader {
  position: fixed;
  top: 40%;
  left: 45%;
  height: 128px !important;
  width: 128px !important;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

.loader-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: .4;
  z-index: 1499;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
}

/* application specific common CSS */
.user-error {
  display: flex;
  align-items: flex-start;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  color: #cc3300;
}

.user-error p {
  order: 2;
  margin-top: 2px;
}

.error-image {
  order: 1;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.btn-secondary {
  background-color: #2073C7;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 60px;
  font-weight: bold;
}

.bg-primary {
  background-color: #192436!important;
}

.border-primary {
  border-color: #192436!important;
}

.btn-link {
  color: #4DB7F2;
}

label.required::after {
  content: '*';
  color: #f44336;
  font-weight: bold;
  margin-left: .25em;
}

/* app header */
.apidemo-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  z-index: 1;
}

.apidemo-header img {
  width: 100%;
  height: 48px;
}

.apidemo-header .nav-link,
.apidemo-header .navbar-expand-md .navbar-nav .nav-link {
  padding: .4rem .5rem;
  font-size: 0.90rem;
  line-height: 2.5;
  font-family: "Roboto";
  color: #363a40;
  font-weight: 600;
}

.apidemo-header .navbar {
  height: 52px;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn {
  font-family: "Roboto";
  border-radius: 0;
  margin-top: 8px;
}

.apidemo-header .navbar-dark .navbar-nav .active>.nav-link,
.apidemo-header .navbar-dark .navbar-nav .nav-link.active,
.apidemo-header .navbar-dark .navbar-nav .nav-link.show,
.apidemo-header .navbar-dark .navbar-nav .show>.nav-link,
.apidemo-header .navbar-dark .navbar-nav .nav-item .btn.register-btn.active {
  border-bottom: 4px solid #26e5c2;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn {
  background: none;
  font-family: "Roboto";
  color: #363a40;
  font-weight: 600;
  border-radius: 4px;
  box-shadow: none;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn.active {
  border-bottom: 4px solid #26e5c2;
  background: none;
  font-family: "Roboto";
  color: #363a40;
  font-weight: 600;
}

.apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn.dropdown-toggle {
  font-size: 20px;
  margin-top: -2px;
  margin-left: 8px;
  line-height: 36px;
}

.apidemo-header .dropdown-menu.show {
  padding-left: 10px;
  right: 0px;
  left: auto;
}

@media screen and (max-width: 767px) {
  .apidemo-header {
    padding-left: 0;
    padding-right: 0;
  }

  .apidemo-header .navbar-collapse.show {
    background: #000;
    border: 1px solid #ccc;
    margin-right: 0px;
    margin-left: 50%;
    margin-top: -8px;
    border-color: rgba(0, 0, 0, .1);
  }

  .apidemo-header .navbar-nav {
    margin-top: 0px;
  }

  .apidemo-header .navbar-expand-md .navbar-nav .nav-item .btn.register-btn {
    margin-left: 5px;
    margin-bottom: 5px;
  }
}

.a:hover {
  background-color:#4DB7F2;
}

@media screen and (max-width: 576px) {
  .apidemo-header img {
    width: 100%;
    height: 48px;
  }
}